<section class="poster">
    <div class="container">
        <div class="poster__wrapper">
            <h1 class="poster__title title-block_one">Установим натяжной потолок от <span class="yellow-bold">170 руб/м</span></h1>
            <p class="poster__text">Мы работаем с материалами только от Европейских производителей. Все наши полотна высокого качества и без запаха</p>
            <button class="poster__button button-main">Оставить заявку</button>
            <div class="poster__offer">
                <div class="poster__offer-one">
                    <img class="poster__offer-img" src="/static/images/price-tags_1.svg" alt="иконка фактур потолка">
                    <p class="poster__offer-text">230 оттенков и фактур в каталоге</p>
                </div>
                <div class="poster__offer-two">
                    <img class="poster__offer-img" src="/static/images/price-tags_2.svg" alt="иконка договора">
                    <p class="poster__offer-text">Гарантия по договору 10 лет</p>
                </div>
                <div class="poster__offer-three">
                    <img class="poster__offer-img" src="/static/images/price-tags_3.svg" alt="иконка таймера">
                    <p class="poster__offer-text">Оперативный монтаж вовремя</p>
                </div>
            </div>
        </div>
    </div>
</section>