@import "../vars";
@import "../colors";
@import "../mixins";

.catalog {
  overflow: hidden;
  position: relative;
  padding: 60px 0;

  &__title {
    text-align: center;
    margin-bottom: 33px;
  }

  &__cost-wrapper {
    display: flex;
  }

  &__cost-square {
    margin-top: 11px;
  }

  &__cost-text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 17px;
    margin: 8px 0 0 8px;
    width: 160px;
  }

  &__tabs {
    margin: 0 auto 63px;

    @include media_interval($media_tablet, $media_laptop) {
      margin: 0 auto 40px;
    }

    @include media_interval(0, $media_tablet) {
      margin: 0 auto 15px;
    }

    &-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-item {
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      color: $c_gray--light-2;
      align-self: center;
      width: 161px;
      height: 43px;
      transition: all $tr_duration $tr_easing;
      background-image: none;
      margin: 0 4px;

      @include media_interval($media_tablet, $media_laptop) {
        width: 140px;
        height: 38px;
      }

      &:active,
      &:hover {
        color: $c_black-3;
        background-image: url(/static/images/grey_spot.png);
        background-size: contain;
        background-repeat: no-repeat;
      }

      &:focus {
        color: $c_black-3;
        background-image: url(/static/images/yellow_spot.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &-item.active {
      color: $c_black-3;
      background-image: url(/static/images/yellow_spot.png);
      background-size: contain;
      background-repeat: no-repeat;
      transition: $tr_duration $tr_easing;
    }
  }

  &__content {
    display: flex;
    position: relative;
  }

  &__description {
    position: relative;
    width: 100%;
    margin-left: 0;

    &-target {
      display: none;
      animation: fadeEffect 0.3s;
    }
    &-target.active {
      display: block;
    }

    &-box {
      display: flex;

      @include media_interval(0, $media_tablet) {
        flex-direction: column;
      }
    }

    &-title {
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      color: $c_black-3;
      margin: 0 0 21px;

      @include media_interval(0, $media_laptop) {
        margin: 0 0 10px;
      }
    }

    &-text {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: $c_gray--light-2;
      margin: 10px 0;
      max-width: 360px;

      @include media_interval(0, $media_tablet) {
        max-width: 100%;
      }
    }

    &-img {
      margin-right: 61px;

      @include media_interval($media_tablet, $media_laptop) {
        width: 60%;
        margin-right: 30px;
      }

      @include media_interval(0, $media_tablet) {
        width: 100%;
      }
    }

    &-inner {
      position: relative;
      padding: 36px 0;

      @include media_interval($media_tablet, $media_laptop) {
        padding: 0;
      }

      @include media_interval(0, $media_tablet) {
        padding: 15px 0;
      }
    }

    &-price {
      position: absolute;
      bottom: 131px;
      left: 0;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 25px;
      z-index: 1;

      @include media_interval($media_tablet, $media_laptop) {
        bottom: 70px;
      }

      @include media_interval(0, $media_tablet) {
        position: unset;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      left: 740px;
      bottom: 57px;

      @include media_interval($media_tablet, $media_laptop) {
        left: 572px;
        bottom: 0;
      }

      @include media_interval(0, $media_tablet) {
        position: unset;
      }

      &--TOP {
        display: flex;
        margin-bottom: 10px;
      }

      &--TEXT {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 17px;
        width: 110px;
        margin-left: 10px;
      }
    }

    &-cost {
      display: flex;
      align-items: center;
      margin-bottom: 47px;
      animation: fadeEffect 0.5s;

      @include media_interval(0, $media_tablet) {
        display: none;
      }

      &--TEXT {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        margin-right: 25px;
      }
    }

    // &-button {
    //   margin: 0 auto;
    // }
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
