<section class="catalog" id="catalog_js">
    <div class="container">

        <h2 class="catalog__title title-block_two">Каталог натяжных потолков</h2>

        <div class="catalog__tabs">
            <nav class="catalog__tabs-items">
                <button class="catalog__tabs-item js-tab-trigger active" data-tab="1"><span class="catalog__tabs-name">Матовые</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="2"><span class="catalog__tabs-name">Глянцевые</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="3"><span class="catalog__tabs-name">Сатиновые</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="4"><span class="catalog__tabs-name">Kraab</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="5"><span class="catalog__tabs-name">Световые</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="6"><span class="catalog__tabs-name">Парящие</span></button>
            </nav>
        </div>
        <div class="catalog__content">
            <div class="catalog__description">
                <div class="catalog__description-target js-tab-content active" data-tab="1">
                    <div class="catalog__description-box">
                        <img class="catalog__description-img" src="/static/images/tab_1.jpg" alt="бесщелевой потолок">
                        <div class="catalog__description-inner">
                            <h3 class="catalog__description-title">Бесщелевые натяжные потолки</h3>
                            <p class="catalog__description-text">
                                Натяжные потолки нового поколения с системой KRAAB – это отсутствие щели в местах примыкания полотна к стенам, и без декоративной заглушки по периметру.
                            </p>
                            <p class="catalog__description-text">
                                Ваш потолок будет идеальным и практичным, так же для этого типа крепления используется система профилей Шток.
                            </p>
                            <span class="catalog__description-price">от 199 р./м2</span>
                        </div>
                    </div>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="2">
                    <div class="catalog__description-box">
                        <img class="catalog__description-img" src="/static/images/tab_2.jpg" alt="теневой потолок">
                        <div class="catalog__description-inner">
                            <h3 class="catalog__description-title">Теневой натяжной потолок</h3>
                            <p class="catalog__description-text">
                                Натяжной потолок по теневой технологии крепления – недавняя новинка в сфере натяжных потолков, которая очень быстро набрала популярность среди наших клиентов.
                            </p>
                            <p class="catalog__description-text">
                                Он устанавливается на специальные алюминиевые профили, такие как eurokraab, euroflexy для потолков из пвх и euroslott.
                            </p>
                            <span class="catalog__description-price">от 199 р./м2</span>
                        </div>
                    </div>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="3">
                    <div class="catalog__description-box">
                        <img class="catalog__description-img" src="/static/images/tab_3.jpg" alt="встраиваемый карниз">
                        <div class="catalog__description-inner">
                            <h3 class="catalog__description-title">Встраеваемый в натяжной потолок карниз для штор</h3>
                            <p class="catalog__description-text">
                                Скрытый встроенный карниз для штор в натяжном потолке смотрится очень стильно и оригинально. И к такому решению для оконных проёмов приходят те, кому не хочется тратить свое время на поиски обычного карниза после ремонта.
                            </p>
                            <span class="catalog__description-price">от 199 р./м2</span>
                        </div>
                    </div>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="4">
                    <div class="catalog__description-box">
                        <img class="catalog__description-img" src="/static/images/tab_4.jpg" alt="световой потолок">
                        <div class="catalog__description-inner">
                            <h3 class="catalog__description-title">Световой натяжные потолки</h3>
                            <p class="catalog__description-text">
                                Прелесть такого покрытия заключается в том, что Вам не придется ломать голову над выбором световых элементов в помещение, ведь такой потолок сам по себе является ярким и эффектным источником света.
                            </p>
                            <p class="catalog__description-text">
                                Светящееся полотно без видимых световых элементов выглядит шикарно, и прекрасно подходит для создания интерьеров в стиле хай-тек, модерн, минимализм.
                            </p>
                            <span class="catalog__description-price">от 199 р./м2</span>
                        </div>
                    </div>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="5">
                    <div class="catalog__description-box">
                        <img class="catalog__description-img" src="/static/images/tab_5.jpg" alt="парящий потолок">
                        <div class="catalog__description-inner">
                            <h3 class="catalog__description-title">Парящий натяжные потолки</h3>
                            <p class="catalog__description-text">
                                Парящий потолок – это разновидность натяжных конструкций. В такой конструкции с натяжным полотном используют специальный профиль, который после установки оставляет не больше расстоянии до стены. Зазор между стеной и полотном создаёт эффект, за счет которого и получается тот самый визуальный образ парящего потолка.
                            </p>
                            <span class="catalog__description-price">от 199 р./м2</span>
                        </div>
                    </div>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="6">
                    <div class="catalog__description-box">
                        <img class="catalog__description-img" src="/static/images/tab_6.jpg" alt="матовый потолок">
                        <div class="catalog__description-inner">
                            <h3 class="catalog__description-title">Матовый натяжные потолки</h3>
                            <p class="catalog__description-text">
                                Матовый натяжной потолок доступен в широком диапазоне цветовой гаммы, поэтому в любой существующий интерьер будет легко вписать такой натяжной потолок.
                            </p>
                            <p class="catalog__description-text">
                                Матовые натяжные потолки гармонично сочетаются с большинством дизайнерских решений. Благодаря фактуре, которая не отражает свет, на потолке нет бликов, что создает особую атмосферу уюта.
                            </p>
                            <span class="catalog__description-price">от 199 р./м2</span>
                        </div>
                    </div>
                </div>
                <div class="catalog__description-info">
                    <div class="catalog__description-cost">
                        <span class="catalog__description-cost--TEXT">Стоимость:</span>
                    </div>
                    <div class="catalog__description-button">
                        <div class="button">
                            <button class="button_background js-open-modal">
                                <span class="button_background-name">Заказать</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>