<section class="catalog" id="catalog_js">
    <div class="container">

        <h2 class="catalog__title title-block_two"><span class="yellow-bold">Каталог</span> натяжных потолков</h2>

        <div class="catalog__tabs">
            <nav class="catalog__tabs-items">
                <button class="catalog__tabs-item js-tab-trigger active" data-tab="1"><span class="catalog__tabs-name">Матовые</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="2"><span class="catalog__tabs-name">Глянцевые</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="3"><span class="catalog__tabs-name">Сатиновые</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="4"><span class="catalog__tabs-name">Kraab</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="5"><span class="catalog__tabs-name">Световые</span></button>
                <button class="catalog__tabs-item js-tab-trigger" data-tab="6"><span class="catalog__tabs-name">Парящие</span></button>
            </nav>
        </div>
        <div class="catalog__content">
            <div class="catalog__description">
                <div class="catalog__description-target js-tab-content active" data-tab="1">
                    <div class="catalog__description-box">
                        <img class="catalog__description-img" src="static/images/tab_1.jpg" alt="Матовый натяжной потолок в спальне">
                        <div class="catalog__description-inner">
                            <h3 class="catalog__description-title">Матовые натяжные потолки</h3>
                            <p class="catalog__description-text">
                                Нужен класический, ровный потолок? Выбирайте матовые натяжные потолки. Они идеально подходят для комнат в традиционном стиле и класике. Внешне они напоминают качественную, ровную, белую поверхноcть.
                            </p>
                            <span class="catalog__description-price">от 5 000 руб.</span>
                        </div>
                    </div>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="2">
                    <div class="catalog__description-box">
                        <img class="catalog__description-img" src="static/images/tab_2.jpg" alt="Глянцевый натяжной потолок на кухне">
                        <div class="catalog__description-inner">
                            <h3 class="catalog__description-title">Глянцевый натяжной потолок</h3>
                            <p class="catalog__description-text">
                                Основной особеностью глянцевых натяжных потолков является то, что он делает помещение, визуально больше.
                            </p>
                            <p class="catalog__description-text">
                                Световой поток идеально отражается от потолка и делает комнату еще светлее.
                            </p>
                            <span class="catalog__description-price">от 5 000 руб.</span>
                        </div>
                    </div>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="3">
                    <div class="catalog__description-box">
                        <img class="catalog__description-img" src="static/images/tab_3.jpg" alt="Сатиновый натяжной потолок в гостинной">
                        <div class="catalog__description-inner">
                            <h3 class="catalog__description-title">Сатиновый натяжной потолок</h3>
                            <p class="catalog__description-text">
                                Сатиновые потолки заслуженно занимают лидирующие позиции на рынке. Они выглядят как дорогие - тканевые, но вполне доступные каждому.
                            </p>
                            <span class="catalog__description-price">от 5 000 руб.</span>
                        </div>
                    </div>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="4">
                    <div class="catalog__description-box">
                        <img class="catalog__description-img" src="static/images/tab_4.jpg" alt="световой потолок">
                        <div class="catalog__description-inner">
                            <h3 class="catalog__description-title">Профиль нового поколения Kraab</h3>
                            <p class="catalog__description-text">
                                Профиль Kraab имеет конструктивную особенность, которая позволяет полностью исклучить щели между стеной и потолком, тем самым не использовать деоротивную заглушку.
                            </p>
                            <span class="catalog__description-price">от 5 000 руб.</span>
                        </div>
                    </div>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="5">
                    <div class="catalog__description-box">
                        <img class="catalog__description-img" src="/static/images/tab_5.jpg" alt="парящий потолок">
                        <div class="catalog__description-inner">
                            <h3 class="catalog__description-title">Световые натяжные потолки</h3>
                            <p class="catalog__description-text">
                                Непосредственно потолок тоже может быть ярким и эффектным источником света. Вам не придется ломать голову над выбором световых элементов.
                            </p>
                            <span class="catalog__description-price">от 5 000 руб.</span>
                        </div>
                    </div>
                </div>
                <div class="catalog__description-target js-tab-content" data-tab="6">
                    <div class="catalog__description-box">
                        <img class="catalog__description-img" src="/static/images/tab_6.jpg" alt="матовый потолок">
                        <div class="catalog__description-inner">
                            <h3 class="catalog__description-title">Парящие натяжные потолки</h3>
                            <p class="catalog__description-text">
                                В монтаже такого натяжного потолка используют специальный профиль, который после установки оставляет не большое расстоянии до стены. Зазор между стеной и полотном создаёт тот самый визуальный образ парящего потолка.
                            </p>
                            <span class="catalog__description-price">от 5 000 руб.</span>
                        </div>
                    </div>
                </div>
                <div class="catalog__description-info">
                    <div class="catalog__description-cost">
                        <span class="catalog__description-cost--TEXT">стоимость такого потолка:</span>
                    </div>
                    <button class="catalog__description-button button-main button js-open-modal">
                        <span class="button_background-name">Заказать потолок</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>