<!-- <div class="nav">
    <div class="menu-btn">
        <span class="line line--1"></span>
        <span class="line line--2"></span>
        <span class="line line--3"></span>
    </div>

    <nav class="nav-links">
        <a href="" class="link">Приемущества компании</a>
        <a href="" class="link">Каталог натяжных потолков</a>
        <a href="" class="link">Узнать стоимость</a>
        <a href="" class="link">Галерея наших работ</a>
        <a href="" class="link">С кем работаем</a>
    </nav>
</div>  -->

<div id="toggle">
    <input type="checkbox">
    <span class="span"></span>
</div>

<div id="menu">
    <div id="logo">Brand</div>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Store</li>
        <li>Articles</li>
    </ul>
</div>