.nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(0);
  height: 100vh;
  width: 400px;
  transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
  border-radius: 0% 0% 100% 50%;
  &.nav-open {
    transform: translateX(0px);
    border-radius: 0% 0% 0% 0%;
    background: rgba(255, 255, 255, 0.6);
  }
  .menu-btn {
    position: absolute;
    top: 10%;
    right: 5%;
    padding: 0;
    width: 30px;
    cursor: pointer;
    z-index: 2;
    .line {
      padding: 0;
      width: 30px;
      background: black;
      height: 2px;
      margin: 5px 0;
      transition: all 700ms cubic-bezier(0.9, 0, 0.33, 1);
      &.line--1 {
        width: 30px;
        transform: rotate(0) translateY(0);
        &.line-cross {
          width: 30px;
          transform: rotate(45deg) translateY(10px);
          background: rgba(0, 0, 0, 0.6);
        }
      }
      &.line--2 {
        width: 28px;
        transform: translateX(0);
        &.line-fade-out {
          width: 28px;
          transform: translate(30px);
          opacity: 0;
        }
      }
      &.line--3 {
        width: 20px;
        transform: rotate(0) translateY(0);
        &.line-cross {
          width: 30px;
          transform: rotate(-45deg) translateY(-10px);
          background: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
  .nav-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 900ms cubic-bezier(0.9, 0, 0.33, 1);
    &.fade-in {
      opacity: 1;
      transform: translateX(0px);
    }
    .link {
      margin: 20px 0;
      text-decoration: none;
      font-family: sans-serif;
      color: rgba(0, 0, 0, 0.9);
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.2rem;
      transition: all 300ms cubic-bezier(0.9, 0, 0.33, 1);
      &:hover {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
