@import "../vars";
@import "../colors";
@import "../mixins";

.about {
  padding: 147px 0;
  display: flex;
  align-items: flex-start;
  position: relative;

  @include media_interval($media_laptop, $media_laptop-big) {
   padding: 120px 0;
    }

    @include media_interval($media_tablet, $media_laptop) {
padding: 50px 0;
    }

  &::before {
    background: url(/static/images/diary.png);
    background-position: right;
    background-repeat: no-repeat;
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: -1;

    @include media_interval(0, $media_tablet) {
      background: none;
    }
  }

  &__wrapper {
    margin-left: 505px;

    @include media_interval($media_tablet, $media_laptop) {
      margin-left: 370px;
              }
  }

  &__poster {
    position: absolute;
    top: 0;
    left: 0;

    @include media_interval($media_laptop, $media_laptop-big) {
      width: 530px;
      }

    @include media_interval($media_tablet, $media_laptop) {
width: 400px;
        }
  }

  &__strings {
    position: absolute;
    left: 160px;
    opacity: 0.6;

    @include media_interval($media_tablet, $media_laptop-big) {
      left: 0;
      max-width: 460px;
      }
  }

  &__box {
    display: flex;
    flex-wrap: wrap;

    &-inner {
      width: 320px;
      position: relative;
      margin-bottom: 36px;

      @include media_interval($media_laptop, $media_laptop-big) {
width: 280px;
      }

      @include media_interval($media_tablet, $media_laptop) {
width: 250px;
      }

      &:nth-child(even) {
        margin-right: 18px;

        @include media_interval($media_laptop, $media_laptop-big) {
margin-right: 10px;
                }
      }
    }

    &-svg {
      position: absolute;
      top: 2px;
    }

    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      letter-spacing: 1px;
      margin: 0 0 15px 20px;

      @include media_interval($media_laptop, $media_laptop-big) {
        font-size: 21px;
        letter-spacing: 0px;
        margin: 0 0 10px 20px;
      }

      @include media_interval($media_tablet, $media_laptop) {
        font-size: 16px;
        margin: 3px 0 15px 20px;
      }
    }

    &-text {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: $c_gray--light-2;

      @include media_interval($media_laptop, $media_laptop-big) {
        font-size: 14px;
        line-height: 16px;
      }

      @include media_interval($media_tablet, $media_laptop) {
        font-size: 13px;
        line-height: unset;
      }
    }
  }

  &__title {
    margin-bottom: 39px;
  }
}
