<section class="about">
    <h2 class="visually-hidden">Почему мы?</h2>
    <div class="container">
        <div class="about__wrapper">
            <img class="about__poster" src="/static/images/yellow_siling.jpg" alt="постер натяжного потолка">
            <img class="about__strings" src="/static/images/strings.svg" alt="декоротивные полоски">
            <div class="about__box">
                <h2 class="about__title title-block_two">Почему <span class="yellow-bold">выгодно</span> заказать у нас?</h2>
                <div class="about__box-one about__box-inner">
                    <svg class="about__box-svg" width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.4777 10.7833L0.724284 20.8915L0.612292 0.973251L11.4777 10.7833Z" fill="#F4C007" />
                    </svg>
                    <h3 class="about__box-title">Скидки пенсионерам</h3>
                    <p class="about__box-text">При предъявлении пенсионного удоставерения наша фирма предоставляет персональную скудку.</p>
                </div>
                <div class="about__box-two about__box-inner">
                    <svg class="about__box-svg" width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.4777 10.7833L0.724284 20.8915L0.612292 0.973251L11.4777 10.7833Z" fill="#F4C007" />
                    </svg>
                    <h3 class="about__box-title">-10% во всю квартиру</h3>
                    <p class="about__box-text">При единовременном заказе во всю квартиру. Скидка распространяется только на полотно.</p>
                </div>
                <div class="about__box-three about__box-inner">
                    <svg class="about__box-svg" width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.4777 10.7833L0.724284 20.8915L0.612292 0.973251L11.4777 10.7833Z" fill="#F4C007" />
                    </svg>
                    <h3 class="about__box-title">1 + 1 = 3</h3>
                    <p class="about__box-text">При заказе двух потолков, третий, меньший по площади, идет в ПОДАРОК.</p>
                </div>
                <div class="about__box-four about__box-inner">
                    <svg class="about__box-svg" width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.4777 10.7833L0.724284 20.8915L0.612292 0.973251L11.4777 10.7833Z" fill="#F4C007" />
                    </svg>
                    <h3 class="about__box-title">Светильники в подарок</h3>
                    <p class="about__box-text">При заказе потолка "Premium" в комплекте со светильниками, каждый 3-й светильник в ПОДАРОК</p>
                </div>
            </div>
            <button class="about__button button-main">Заказать замер</button>
        </div>
    </div>
</section>