@import "../vars";
@import "../colors";
@import "../mixins";

.header {
  padding: 40px 0;

  @include media_interval(0, $media_mobile) {
    padding: 30px 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @include media_interval(0, $media_mobile) {
      flex-direction: column;
      align-items: unset;
    }
  }

  &__logo {
    margin-right: 158px;
    width: 250px;

    @include media_interval($media_laptop, $media_laptop-big) {
      margin-right: 90px;
    }

    @include media_interval($media_tablet, $media_laptop) {
      margin-right: 90px;
      width: 200px;
    }

    @include media_interval($media_mobile, $media_tablet) {
      margin-right: 70px;
    }

    @include media_interval(0, $media_mobile) {
      margin-right: 0;
      margin-bottom: 20px;
      width: 170px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include media_interval(0, $media_mobile) {
      align-items: center;
    }
  }

  &__phone {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: $c_black;

    @include media_interval($media_tablet, $media_laptop) {
      font-size: 26px;
    }

    @include media_interval(0, $media_mobile) {
      font-size: 24px;
      line-height: unset;
    }
  }

  &__city {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    @include media_interval($media_tablet, $media_laptop) {
      font-size: 22px;
    }

    @include media_interval(0, $media_mobile) {
      font-size: 20px;
      line-height: unset;
    }
  }

  &__menu {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__toggle {
    position: absolute;
    width: 40px;
    height: 36px;
    right: 80px;
    top: 60px;
    transition: all 300ms ease-in-out;
    z-index: 10;
    &-checkbox {
      position: absolute;
      top: -3px;
      left: -3px;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
      &:checked {
        + .header__toggle-span {
          background: transparent;
          left: 0;
          &:after {
            transform: rotate(45deg) translate(-1px, -12px);
            left: -7px;
            background: #fff;
          }
          &:before {
            transform: rotate(-45deg) translate(-4px, 16px);
            left: -7px;
            background: #fff;
          }
        }
      }
    }
    &-span {
      position: absolute;
      width: 100%;
      height: 3px;
      background: $color-one;
      margin-top: 10px;
      transition: all 0.1s;
      left: 0;
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: $color-one;
        top: -12px;
        left: 0;
        transition: all 0.3s;
      }
      &:after {
        top: 12px;
      }
    }
  }

  &__menu {
    background: $c_turquoise;
    width: 100%;
    height: auto;
    padding: 40px 0;
    color: $color-two;
    display: flex;
    align-items: center;
    visibility: visible;
    opacity: 1;
    justify-content: space-evenly;
    text-align: center;
    transition: all 300ms ease-in-out;
    position: absolute;
    top: -100vh;
    left: 0px;
    z-index: 9;
    &.active {
      top: 0;
    }
    &-logo {
      font-size: 25px;
      font-weight: 700;
      margin-left: -119px;
    }
    &-img {
      width: 250px;
    }
    &-list {
      display: flex;
      list-style-type: none;
      padding: 0;
    }
    &-item {
      margin: 0 45px;
    }
  }
}
