@import "../vars";
@import "../colors";
@import "../mixins";

.header {
  padding: 55px 0 68px;

  @include media_interval(0, $media_mobile) {
    padding: 30px 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;

    @include media_interval(0, $media_mobile) {
      flex-direction: column;
      align-items: unset;
    }
  }

  &__logo {
    margin-right: 155px;
    width: 250px;

    @include media_interval($media_laptop, $media_laptop-big) {
      margin-right: 90px;
    }

    @include media_interval($media_tablet, $media_laptop) {
      margin-right: 90px;
      width: 200px;
    }

    @include media_interval($media_mobile, $media_tablet) {
      margin-right: 70px;
    }

    @include media_interval(0, $media_mobile) {
      margin-right: 0;
      margin-bottom: 20px;
      width: 170px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include media_interval(0, $media_mobile) {
      align-items: center;
    }
  }

  &__phone {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: $c_black;

    @include media_interval($media_tablet, $media_laptop) {
      font-size: 26px;
    }

    @include media_interval(0, $media_mobile) {
      font-size: 24px;
      line-height: unset;
    }
  }

  &__city {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    @include media_interval($media_tablet, $media_laptop) {
      font-size: 22px;
    }

    @include media_interval(0, $media_mobile) {
      font-size: 20px;
      line-height: unset;
    }
  }

  &__menu {
    display: block;
    position: absolute;
    right: 0;
    width: 55px;
    height: 33px;
    cursor: pointer;
    opacity: 0.5;
    transition: $tr_duration $tr_easing;

    @include media_interval(0, $media_mobile) {
      top: 10px;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__stick,
  &__stick::before,
  &__stick::after {
    width: 55px;
    height: 5px;
    border-radius: 5px;
    background: $c_gray--dark;
    top: 50%;
    position: absolute;
    transition: all 0.6s;
  }

  &__stick::before {
    content: "";
    top: -12px;
    left: 0;
  }

  &__stick::after {
    content: "";
    top: 12px;
    left: 0;
  }

  &__stick.open {
    transform: translateX(-50px);
    background: transparent;
    &::after {
      transform: rotate(-45deg) translate(50px, 33px);
    }
    &::before {
      transform: rotate(45deg) translate(50px, -33px);
    }
  }
}
