<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <img class="header__logo" src="static/images/logo.svg" alt="логотип фирмы 33 квадрата">
      <div class="header__contacts">
        <a href="tel:+79640000000" class="header__phone">+7 964 971 98 76</a>
        <span class="header__city">г. Тольятти</span>
      </div>

      <!-- <div class="nav">
        <div class="menu-btn">
          <span class="line line--1"></span>
          <span class="line line--2"></span>
          <span class="line line--3"></span>
        </div>

        <nav class="nav-links">
          <a href="" class="link">Приемущества компании</a>
          <a href="" class="link">Каталог натяжных потолков</a>
          <a href="" class="link">Узнать стоимость</a>
          <a href="" class="link">Галерея наших работ</a>
          <a href="" class="link">С кем работаем</a>
        </nav>
      </div> -->

    </div>
  </div>
</header>