<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <img class="header__logo" src="static/images/logo.svg" alt="логотип фирмы 33 квадрата">
      <div class="header__contacts">
        <a href="tel:+79640000000" class="header__phone">+7 964 971 98 76</a>
        <span class="header__city">г. Тольятти</span>
      </div>
      <div class="header__toggle">
        <input class="header__toggle-checkbox" type="checkbox">
        <span class="header__toggle-span"></span>
      </div>
      <div class="header__menu">
        <div class="header__menu-contacts">
          <ul class="header__menu-list">
            <li class="header__menu-item">
              <a href="https://www.instagram.com/" class="header__menu-link">
                <img src="/static/images/soc_1.svg" alt="группа в instagram 33 квадрата"></a>
            </li>
            <li class="header__menu-item"><img src="/static/images/soc_2.svg" alt="whatsapp 33 квадрата"></li>
            <li class="header__menu-item"><img src="/static/images/soc_3.svg" alt="telegram 33 квадрата"></li>
          </ul>
          <a href="mailto:mail@example.com" class="header__menu-post">mail@example.com</a>
        </div>
        <ul class="header__menu-list">
          <li class="header__menu-item">Home</li>
          <li class="header__menu-item">About</li>
          <li class="header__menu-item">Store</li>
          <li class="header__menu-item">Articles</li>
        </ul>
      </div>
    </div>
  </div>
</header>