// black

$c_black: #000000;
$c_black-2: #2c2c2c;
$c_black-3: #333333;

// white

$c_white: #ffffff;
$c_white-2: #f2f2f2;
$c_white-3: #f7f8fa;

// grey

$c_gray: #aaaaaa;
$c_gray-2: #828282;
$c_gray--light: #e0e0e0;
$c_gray--light-2: #757070;
$c_gray--light-3: #242458;
$c_gray--dark: #666666;
$c_gray--dark-extra: #4f4f4f;
$DL_dark_grey: #2c3036;

// gold

$c_gold: #c29974;
$c_gold--light: #cfaf91;
$c_gold--light-extra: #eee4db;
$c_gold--light-extra-2: #d6cac2;
$c_gold--dark: #836e5b;

// blue

$c_blue: #7d97da;
$c_blue-2: #2198f4;
$c_blue-3: #7b9bb1;
$c_blue-4: #668296;
$c_blue--light-extra: #e2f1f8;
$c_blue--light-extra-2: #eef7fb;
$c_blue--light: #e1f0f7;
$c_blue--purple: #e5eaf8;

// brown

$c_brown: #725f5b;

// pink

$c_pink: #f3d0db;
$c_pink--light: #eddeeb;

// purple

$c_purple: rgba(125, 151, 218, 0.8);
$c_purple-2: #8f75bc;

// red

$c_red: #ee3d48;
$c_red-2: #e42f3a;
$c_red-3: #a40000;
$c_red-orange: #ef5539;
$c_red-rose: #cc6666;

// yellow

$c_yellow: #f4c007;
$c_yellow-2: #ffc80c;

// turquoise

$c_turquoise: #93b7b7;

$color-one: #34495e;
$color-two: #ecf0f1;
$color-three: #c0392d;
$color-four: #2980d9;
