//MEDIA
@mixin media_interval($min, $max) {
  @if $max == 0 {
    @media (min-width: $min) {
      @content;
    }
  } @else if $min == 0 {
    @media (max-width: ($max - 1px)) {
      @content;
    }
  } @else {
    @media (min-width: $min) and (max-width: ($max - 1px)) {
      @content;
    }
  }
}

//preloader

@mixin anim() {
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50%,
    75% {
      transform: scale(2.5);
    }
    78%,
    100% {
      opacity: 0;
    }
  }
}

// flex

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
