$tr_duration: 0.4s;
$tr_duration_7: 0.9s;
$tr_easing: ease-in-out;
$numOfSlides: 5;
$slidingAT: 1.3s;
$controlSize: 60px;

$media_4k-ultra: 3840px;
$media_4k: 2560px;
$media_2k: 1680px;
$media_laptop-big: 1400px;
$media_laptop: 1200px;
$media_tablet: 1024px;
$media_mobile: 768px;
$media_mobile-medium: 580px;
$media_mobile-small: 425px;
$media_mobile-extra-small: 321px;
