<section class="gallery">
    <h2 class="gallery__title title-block_two"><span class="yellow-bold">Работы</span> выполненые нами</h2>
    <div class="gallery__slider">
        <div class="carousel-main" data-flickity>
            <div class="carousel-cell"><img class="carousel-cell__img" src="static/images/slide_1.jpg" alt=""></div>
            <div class="carousel-cell"><img class="carousel-cell__img" src="static/images/slide_2.jpg" alt=""></div>
            <div class="carousel-cell"><img class="carousel-cell__img" src="static/images/slide_3.jpg" alt=""></div>
        </div>
        <div class="carousel-bottom">
            <div class="carousel-nav" data-flickity='{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false, "prevNextButtons": false }'>
                <div class="carousel-cell"><img class="carousel-cell__nav" src="static/images/slide_nav-1.jpg" alt=""></div>
                <div class="carousel-cell"><img class="carousel-cell__nav" src="static/images/slide_nav-2.jpg" alt=""></div>
                <div class="carousel-cell"><img class="carousel-cell__nav" src="static/images/slide_nav-3.jpg" alt=""></div>
            </div>
        </div>
    </div>
</section>