<section class="calc">
    <div class="container">
        <div class="calc__wrapper">
            <h2 class="calc__title title-block_two">Какая будет стоимость потолка?</h2>
            <div class="calc__inner">
                <form class="calc__form" action="#">
                    <fieldset class="calc__params">
                        <legend class="calc__name">Длина, м</legend>
                        <input class="calc__item" type="number" min="1" placeholder="введите число">
                        <hr class="calc__hr">
                    </fieldset>
                    <fieldset class="calc__params">
                        <legend class="calc__name">Ширина, м</legend>
                        <input class="calc__item" type="number" placeholder="введите число">
                        <hr class="calc__hr">
                    </fieldset>
                    <fieldset class="calc__params">
                        <legend class="calc__name">Выберите материал</legend>
                        <select class="calc__item" name="select">
                            <option class="calc__item-value" selected>Выберите пункт...</option>
                            <option class="calc__item-value" value="сатин">Сатиновый</option>
                            <option class="calc__item-value" value="глянец">Глянцевый</option>
                            <option class="calc__item-value" value="матовый">Матовый</option>
                        </select>
                        <hr class="calc__hr">
                    </fieldset>
                    <fieldset class="calc__params">
                        <legend class="calc__name">вставка маскеровочная</legend>
                        <select class="calc__item" name="select">
                            <option class="calc__item-active" selected>выберите пункт...</option>
                            <option class="calc__item-value" value="белый">белая</option>
                            <option class="calc__item-value" value="цветной">цветная</option>
                        </select>
                        <hr class="calc__hr">
                    </fieldset>
                    <fieldset class="calc__params">
                        <legend class="calc__name">количество люстр</legend>
                        <input class="calc__item" type="number" placeholder="введите число">
                        <hr class="calc__hr">
                    </fieldset>
                    <fieldset class="calc__params">
                        <legend class="calc__name">количество светильников</legend>
                        <input class="calc__item" type="number" placeholder="введите число">
                        <hr class="calc__hr">
                    </fieldset>
                    <div class="calc__price">
                        <p class="calc__price-offer">Ориентировачная стоимость:</p>
                        <p class="calc__price-total"><span>5 000</span> рублей</p>
                    </div>
                    <button class="button-form button">Заказать потолок</button>
                </form>
            </div>
        </div>
    </div>
</section>