<section class="manufacturers">
    <div class="container">
        <div class="manufacturers__wrapper">
            <h2 class="manufacturers__title title-block_two">Мы работаем только с <span class="yellow-bold">самыми лучшими</span> производителями потолков</h2>
            <div class="manufacturers__inner">
                <div class="manufacturers__item">
                    <img class="manufacturers__img" src="static/images/dev_1.png" alt="логотип Pongs">
                </div>
                <div class="manufacturers__item">
                    <img class="manufacturers__img" src="static/images/dev_2.png" alt="логотип LumFer">
                </div>
                <div class="manufacturers__item">
                    <img class="manufacturers__img" src="static/images/dev_3.png" alt="логотип Teqtum">
                </div>
                <div class="manufacturers__item">
                    <img class="manufacturers__img" src="static/images/dev_4.png" alt="логотип MSD">
                </div>
                <div class="manufacturers__item">
                    <img class="manufacturers__img" src="static/images/dev_5.png" alt="логотип Descor">
                </div>
                <div class="manufacturers__item">
                    <img class="manufacturers__img" src="static/images/dev_6.png" alt="логотип MSD Premium">
                </div>
            </div>
        </div>
    </div>
</section>