.manufacturers {
  padding: 40px 0;

  &__title {
    text-align: center;
    width: 730px;
    margin: 0 auto 50px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    margin-bottom: 35px;
  }
}
