@import "../vars";
@import "../colors";
@import "../mixins";

.footer {
  padding: 40px 0;
  background-color: $c_white-3;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
  }

  &__phone {
    margin: 10px 0;
  }

  &__navigation {
    &-inner {
      display: flex;
    }

    &-box {
      display: flex;
      flex-direction: column;
    }

    &-link {
      color: $c_black;
    }

    &-left {
      margin-right: 30px;
    }

    &-center {
      margin: 10px 0;
    }
  }
}
