<footer class="footer">
  <h2 class="visually-hidden">Нижняя часть сайта</h2>
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__feedback">
        <img class="footer__logo" src="static/images/logo.svg" alt="логотип компании 33 квадрата">
        <button class="footer__button button-main button">Бесплатный замер</button>
      </div>
      <div class="footer__contacts">
        <h3 class="footer__title">Контакты:</h3>
        <p class="footer__address">Адрес: г. Тольятти, ул. Ленина, д. 57</p>
        <p class="footer__phone">Телефон:<a class="footer__phone-link" href="tel:89649719876"> +7 964 971 98 76</a></p>
        <p class="footer__email">e-mail:<a class="footer__email-link" href="mailto:tltvvv@yandex.ru"> tltvvv@yandex.ru</a></p>
      </div>
      <nav class="footer__navigation">
        <h3 class="footer__title">Всё о нас:</h3>
        <div class="footer__navigation-inner">
          <div class="footer__navigation-left footer__navigation-box">
            <a href="" class="footer__navigation-link">Главная страница</a>
            <a href="" class="footer__navigation-link footer__navigation-center">Приемущества компании</a>
            <a href="" class="footer__navigation-link">Каталог натяжных потолков</a>
          </div>
          <div class="footer__navigation-right footer__navigation-box">
            <a href="" class="footer__navigation-link">Узнать стоимость</a>
            <a href="" class="footer__navigation-link footer__navigation-center">Галерея наших работ</a>
            <a href="" class="footer__navigation-link">С кем работаем</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</footer>