Цвет потолка
<select oninput="calcCeil()" id="colors">
    <option value="600">Белый (любая фактура)</option>
    <option value="800">Цветной</option>
</select><br>
Площадь потолка
<input id="space" oninput="calcCeil()" type="number" value="0"><br>
Колличество углов
<input id="angle" oninput="calcCeil()" type="number" value="0"><br>
Колличество технологических отверстий (батарея, вытяжка)
<input id="hole" oninput="calcCeil()" type="number" value="0"><br>
Количество светильников (стоимость монтажа включена)
<input id="lamp" oninput="calcCeil()" type="number" value="0"><br>

Примерная стоимость ~ <span id="result">0</span>